.card{

    margin-top: 30px !important;
    border: 3px solid black !important;
    background-color: rgb(242, 248, 245) !important;   
    width: 500px !important;
    height: 400px !important;

}


.headerbutton{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.textBody{

    font-size: 25px !important;
    font-weight: cursive !important;
    font-family: bold !important;
}

.likesPet{
    font-size: 15px;
    font-weight: bold;
}